body {
    background-color: white;
}
#title{
    text-align: center;
}
h1{
    font-family: 'Poiret One', cursive;
}

nav{
    text-align: center;
    list-style-type: none;
}
ul{
    display:inline-block;
    width:45%; 
}

#topName{
    font-family: 'Mogra', cursive; 
    font-size:160%;
}
/*
.breakDown{
    background:inherit;
    font-family:inherit;
    margin:0 auto;
    width:100%;
    padding:40px;
    align-content:center;
    display:;
    
}
*/
.breakDown{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid red;
    margin:0 auto;

}
.littleBox{
    float:left;
    text-align:center;
    margin:6%;
    margin-top:0;
    margin-bottom:0;
    padding:6px;
    height:50%;
    max-width: 20%;
    border-style:solid;
    border-radius: 25px;
    border-width:2px;
    padding:5px;
    
}
.logoLinks{
    background:inherit;
    font-family:inherit;
    text-align:center;
    align-items:center; 
    margin:0 auto;
    clear:left;
    
}
.footer{
    text-align: center;
    width:100%;
    left:0;
    bottom:0;
    background-color:white;
    position:fixed;
    
}

@media screen and (min-width:0px) and (max-width:800px)  
{     
        body{
        background-color: aqua;
        }
}