body {
    background-color: white;
}
#title{
    text-align: center;

}
h1{
        font-family: 'Poiret One', cursive;

}
@media screen and (min-width:0px) and (max-width:800px)  
{   
    body{
        background-color: aqua;
    }
   
}